.skills {
  background-color: rgb(251, 202, 200);
  padding: 50px 0px 100px 0px;
  /* background-image: url("../../assets/img/skill-bg.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu";
}

.skills-container {
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.skills-img {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .skills-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }

  .skills-img {
    height: 40vh;
    width: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .skills-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }

  .skills-img {
    height: 40vh;
    width: auto;
  }
}
